@font-face {
  font-family: "Suisse Intl";
  src: url("assets/fonts/SuisseIntl/SuisseIntl-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("assets/fonts/SuisseIntl/SuisseIntl-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("assets/fonts/SuisseIntl/SuisseIntl-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("assets/fonts/SuisseIntl/SuisseIntl-Bold.otf");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: "Suisse Intl", sans-serif;
  background-color: #f4f4f4;
  color: #ffffff;

  @media (max-width: 500px) {
    background-color: #ffffff;
  }
}
