body {
  margin: 0;
  font-family: "Suisse Intl", sans-serif;
  background-color: #220E58;
  color: #ffffff;
}

@media (max-width: 500px) {
  body {
    background-color: #ffffff;
  }
}

@font-face {
  font-family: "Suisse Intl";
  src: url("assets/fonts/Suisse Intl/SuisseIntl-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("assets/fonts/Suisse Intl/SuisseIntl-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("assets/fonts/Suisse Intl/SuisseIntl-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("assets/fonts/Suisse Intl/SuisseIntl-Bold.otf");
  font-weight: 700;
}